aiohttp==3.13.5
httpx==0.28.1
multidict==6.7.1
yarl==1.23.0

numpy==2.4.4

livekit==1.1.7
livekit-agents==1.5.8
livekit-api==1.1.0
livekit-protocol==1.1.8
livekit-plugins-google==1.5.8
livekit-plugins-noise-cancellation==0.2.5

google-genai==2.1.0

protobuf==6.33.0

pydantic==2.13.4
pydantic_core==2.46.4

PyJWT==2.12.1
python-dotenv==1.2.2

watchfiles==1.1.1
websockets==16.0